<div class="container">
  <div class="news-header">
    <h1><strong>NEWS</strong></h1>
    <% if !current_user.nil? %>
      <%= link_to "Create News", new_article_path %>
    <% end %>
  </div>
  <div class="news-grid">
    <%  @articles.reverse.each do |article| %>
      <div class="news-item">
        <div class="news-headline">
          <h2><%= article.title %></h2>
          <h3><%= article.category %></h3>
          <p><%= article.created_at.time.strftime("%d/%m/%Y") %></p>
        </div>
          <% if article.photo.attached? %>
            <%= cl_image_tag article.photo.key, class: "news-image" %>
          <% else %>
            <%= image_tag("news_men.jpg", class: "news-image" ) %>
          <% end %>
        <p class="news-content"><%= article.content.first(300) %>... <%= link_to "Read More", article_path(article.id) %></p>

        <% if !current_user.nil? %>
          <%= link_to "Edit", edit_article_path(article.id) %>
          <%= link_to "Delete", article_path(article.id), method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
