<h1><strong>NEWS</strong></h1>
  <%  @articles.reverse.each do |article| %>
  <h2><%= article.title %></h2>
  <p><%= article.content %></p>
  <%= link_to "More details", article_path(article.id) %>
  <%= link_to "Edit", edit_article_path(article.id) %>
  <%= link_to "Delete", article_path(article.id), method: :delete, data: {confirm: "Are you sure?"} %>
  <br>
  <br>
<% end %>
