<div class="navbar">
  <div class="menu-items">
    <%= link_to 'ABOUT', about_path, class: "menu-item" %>
    <%= link_to 'VENUES', venues_path, class: "menu-item" %>
    <%= link_to 'NEWS', articles_path, class: "menu-item" %>
  </div>
  <div class="menu-logo">
    <%= link_to root_path do%>
      <%= image_tag("crawley_logo_black.png") %>
    <% end %>
  </div>
  <div class="menu-items">
    <%= link_to 'TEAMS', teams_path, class: "menu-item" %>
    <%= link_to 'MATCHES', '#', class: "menu-item" %>
    <%= link_to 'CONTACT', contact_path, class: "menu-item" %>
  </div>
  <div class="navbar-links">
    <a href="https://www.facebook.com/crawley.sparks/" target="blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/explore/tags/crawleysparks/?hl=en" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="member-login">
    <% if current_user.nil? %>
      <%= link_to 'Member Login', new_user_session_path %>
    <% else %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
</div>

