<div class="navbar">
  <div class="menu-items">
    <%= link_to 'TEAM', '#', class: "menu-item" %>
    <%= link_to 'VENUES', '#', class: "menu-item" %>
    <%= link_to 'NEWS', '#', class: "menu-item" %>
  </div>
  <div class="menu-logo">
    <%= image_tag("crawley_logo_black.png") %>
  </div>
  <div class="menu-items">
    <%= link_to 'GALERY', '#', class: "menu-item" %>
    <%= link_to 'MATCHES', '#', class: "menu-item" %>
    <%= link_to 'CONTACT', '#', class: "menu-item" %>
  </div>
</div>
<div class="navbar-links">
  <a href="https://www.facebook.com/crawley.sparks/" target="blank"><i class="fab fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/explore/tags/crawleysparks/?hl=en" target="blank"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
</div>
<div class="member-login">
  <%= link_to 'Member Login', new_user_session_path %>
</div>
