<div class="home-picture-position">
  <%= image_tag("sparks.jpg", class: "home-picture-placeholder") %>
  <div class="home-picture-text">
    <p>We love volleyball.</p><br>
    <p>New members always welcome.</p><br>
    <p>Please get in touch with us!</p>
  </div>
</div>
<div class="container-home">
  <div class="highlights">
    <div class="highlight-item">
      <h1>LATEST NEWS</h1>
      <h3><%= @latest_news.title %></h3>
      <p><%= @latest_news.content.first(180) %></p>
      <%= link_to 'Read All The News...', articles_path %>
    </div>
    <div class="highlight-item">
      <h1>LAST MATCH</h1>
      <h3><%= @last_match.home_page_title %></h3>
      <p><%= @last_match.home_page_description %></p>
      <%= link_to 'See Other Matches...', matches_path %>
    </div>
    <div class="highlight-item">
      <h1>FEATURED PLAYER</h1>
      <h3><%= @featured_player.full_name %></h3>
      <p><%= @featured_player.home_page_description %>
      </p>
      <%= link_to 'Meet The Teams...', teams_path %>
    </div>
  </div>
</div>