<div class="container">
  <%= simple_form_for(@venue) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :training_day %>
    <%= f.input :training_time %>
    <%= f.input :additional_info %>
    <%= f.input :lat %>
    <%= f.input :long %>
    <%= f.submit "Edit venue", class: "btn btn-primary" %>
  <% end %>
</div>
